{% extends "layout.html" %}
{% block main %}
<head>
  <style>
    #canvas {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin:auto;
    }
  </style>
</head>
<style>
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

    .button1 {background-color: #4CAF50;} /* Green */
  </style>
  <a href="/dashboard"><button class="button button1">Back</button></a>
<h1>2048</h1>
<div style="width: 500px; margin: 0 auto;" class="text">
  Play 2048 and see what high score you can get!
  <canvas id="canvas" height="600px" width="600px"></canvas>
</div>

<script src="/static/nodejs/2048.js"></script>
<p id="score"></p>

{% endblock %}