{% extends "layout.html" %}
{% block main %}
<div class="title" style="padding: 20px 20px;">
    <h1>{{name}}'s Dashboard</h1>
  </div>
  <br>
  <h2 style="float:left;"> {{candy_num}} 🍬</h2>
    <h2 style="float:right;"> {{zip}}, {{place}} ({{state}})</h2>
    <br><br><br><br>
  {% for i in houses_zip %}
  <div class="house">
    <h1>{{i}}</h1><br>
    <h2>House on the same Zip Code</h2>
    <br><br><br>
  <a href={{"/trick/"+i}}>  <button>Trick or Treat Here</button></a>
  </div>
  {% endfor %}
  {% for i in houses_city %}
  <div class="house">
    <h1>{{i}}</h1><br>
    <h2>House on the same City</h2>
    <br><br><br>
  <a href={{"/trick/"+i}}>  <button>Trick or Treat Here</button></a>
  </div>
  {% endfor %}
  {% for i in houses_state %}
  <div class="house">
    <h1>{{i}}</h1><br>
    <h2>House in the same State</h2>
    <br><br><br>
  <a href={{"/trick/"+i}}>  <button>Trick or Treat Here</button></a>
  </div>
  {% endfor %}
  {% for i in houses_country %}
  <div class="house">
    <h1>{{i}}</h1><br>
    <h2>House in the same Country</h2>
    <br><br><br>
  <a href={{"/trick/"+i}}>  <button>Trick or Treat Here</button></a>
  </div>
  {% endfor %}

{% endblock %}