{% extends "layout.html" %}
{% block main %}
<div class="title" style="padding: 20px 20px;">
    <h1>{{name}}'s Dashboard</h1>
  </div>
  <br>
  <h2 style="float:left;"> {{candy_num}} 🍬</h2>
    <h2 style="float:right;"> {{zip}}, {{place}} ({{state}})</h2>
    <br><br><br><br>
  
  <div class="house">
    <h1>Kousthubh</h1><br>
    <h2>House in the same Zip Code</h2>
    <br><br><br>
    <button>Trick or Treat Here</button>
  </div>
  <div class="house">
    <h1>Cindy</h1><br>
    <h2>House in the same Zip Code</h2>
    <br><br><br>
    <button>Trick or Treat Here</button>
  </div>
   <div class="house">
    <h1>Timothy</h1><br>
    <h2>House in the same City</h2>
    <br><br><br>
    <button>Trick or Treat Here</button>
  </div>
{% endblock %}