{% extends "layout.html" %}
{% block main %}
<html>
<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="tictactoe.css">
</head>
<body>
  <style>
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

    .button1 {background-color: #4CAF50;} /* Green */
  </style>
  <a href="/dashboard"><button class="button button1">Back</button></a>

    <section>
        <h1 class="title">Tic-Tac-Toe</h1>
        <div class="container">
          <div data-cell-index="0" class="cell"></div>
          <div data-cell-index="1" class="cell"></div>
          <div data-cell-index="2" class="cell"></div>
          <div data-cell-index="3" class="cell"></div>
          <div data-cell-index="4" class="cell"></div>
          <div data-cell-index="5" class="cell"></div>
          <div data-cell-index="6" class="cell"></div>
          <div data-cell-index="7" class="cell"></div>
          <div data-cell-index="8" class="cell"></div>
        </div>
        <h2 id="status"></h2>
        <button class="redo">Redo Game</button>
        <script src="/static/nodejs/tictactoe.js"></script>
    </section>
</body>
</html>
{% endblock %}